@charset "UTF-8";
body {
  background-color: #e6e6e6 !important;
  margin: 0;
  font-family: "Roboto", sans-serif; }

* {
  box-sizing: border-box; }

h1 {
  margin: 58px;
  font-family: "Oswald", sans-serif; }

h5 {
  font-size: 23px; }

p {
  text-align: center;
  font-size: 20px; }

/*      Barre de navigation     */
.navbar {
  background-color: #464444; }

.navbar-brand {
  font-size: 40px;
  color: white !important;
  font-family: "Oswald", sans-serif; }

.nav-link {
  color: white !important;
  font-family: "Oswald", sans-serif; }

.btn {
  color: #00a9dd;
  border-color: #00a9dd; }
  .btn:hover {
    background-color: #00a9dd;
    border-color: #00a9dd; }

.form-inline {
  margin: auto;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center; }

.navbar-nav {
  flex-grow: 1; }

.nav-item.connexion {
  margin-left: auto; }

.img-logo {
  width: 28px;
  height: 28px; }

/*-------------------Container des blocs Inscription/Connexion ( à résumer en scss)-------------------*/
.contentInscription, .contentConnexion {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 330px;
  margin: auto;
  background-color: white; }

input.formInscription {
  width: 300px;
  margin: 9px; }

.InscriptionI, .Inscription, .ConnexionI, .Connexion {
  text-align: center;
  width: 175px;
  height: 35px;
  margin: auto;
  padding-top: 5px; }

.Inscription, .ConnexionI, .Connexion {
  color: #212529;
  background-color: #00a9dd;
  text-decoration: none; }

.Connexion {
  background-color: white; }

.sectionInscription {
  display: flex; }

form#formConnexion {
  margin: auto; }

/*      Contenu de la page Article      */
.container-master-article {
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 80%; }

.container-article {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto; }

.container-article-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto; }

.container-imgLogo {
  display: flex;
  flex-direction: column;
  width: 60%; }

img.img_article {
  width: 100%; }

.logo-article {
  width: 90%;
  display: flex;
  justify-content: space-around; }

.logo-article div {
  display: flex; }

.logo-article p {
  margin: 0;
  margin-right: auto;
  margin-left: 5px;
  font-size: 11px; }

.img-article {
  width: 606px;
  height: 327px;
  margin: auto; }

.container-inputPrix {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%; }

.prix-article {
  display: flex; }

.date-article {
  display: flex;
  flex-direction: column; }

.container-article-center {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%; }

.description-article {
  width: 60%; }

.reserver-article {
  width: 20%; }

/*      Contenu de la page Panier       */
.content {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 600px;
  margin: auto;
  background-color: white; }

.image-panier {
  width: 250px;
  height: 166px;
  margin: auto; }

.valider {
  margin: auto;
  border-radius: 10px;
  background-color: #afc7db; }

/* contenu de la page princepale HomeView */
.main_div {
  display: flex;
  justify-content: space-around; }

.article_content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 473px;
  border: 2px solid white;
  flex-direction: column; }

.article_content_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 473px;
  border: 2px solid white;
  flex-direction: column; }

.article_prix {
  display: flex;
  justify-content: flex-end; }

/* Panier */
.panier_image {
  width: 20%;
  height: 10%; }

.img-logo2 {
  width: 16px;
  height: 16px; }

/*              Sticky-Footer              */
footer {
  color: white;
  background-color: #212529; }

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container-master {
  flex: 1; }

p.copyR {
  text-align: left;
  font-size: 15px; }

/*# sourceMappingURL=style.css.map */
