{% extends 'base.twig' %}
{% block contenu %}
<div class="container-article">
    <div>
        <h1>{{articles.nom}}</h1>
    </div>
    <div class="container-article-top">
        <div class="container-imgLogo">
            <div >
                <img src="views/assets/images/{{articles.id}}.jpeg" class="img-article">
            </div><br>
            <div class="logo-article">
                <div>
                    <img src="views/assets/logo/food.png" alt="nourriture" class="img-logo2">
                    <p>Tout compris</p>
                </div>
                <div>
                    <img src="views/assets/logo/start.png" alt="départ" class="img-logo2">
                    <p>Départ de Lyon</p>
                </div>
            </div>
        </div>
        <div class="container-inputPrix">
            <div class="prix-article">
                <img src="views/assets/logo/basket.png" alt="prix" class="img-logo2">
                <p>{{articles.prix}}€/pers</p>
            </div>
            <div class="date-article">
                <h4>Date disponnible</h3>
                    <p>{{articles.date}}</p>
            </div>
            <div class="radio-article">
                <h4>Participants</h3>
                    <input type="radio" id="participantChoice">
                    <label for="participantChoice">2 personnes</label>
                    <br>
                    <input type="radio" id="participantChoice2">
                    <label for="participantChoice2">4 personnes</label>
            </div>
        </div>
    </div>
    <div class="container-article-center">
        <div class="description-article">
            <p>{{articles.description}}</p>
        </div>
        <div class="reserver-article">
            <form method='POST' action='panier'>
                <input type="hidden" name="id" value="{{articles.id}}">
                <input type="submit" value='Acceder au panier'>
            </form>
        </div>
    </div>
</div>
{% endblock %}