<!DOCTYPE html>
<html lang="en">

    <body class="Site">

        <header>
            {% include 'head.twig' %}
        </header>
    
            {% include 'navbar.twig' %}

            <div class="container-master">
                {% block contenu %}
                {% endblock %}
            </div>

        <footer>
            {% include 'footer.twig' %}
        </footer>

    </body>

</html>

{# sticky footer #}
{# <body class="Site">
  <header>…</header>
  <main class="Site-content">…</main>
  <footer>…</footer>
</body> #}