{% extends 'base.twig' %} 
 
{% block contenu %}   

    <center>
    <h1>Connexion</h1>
    </center>
 
    <div class='contentConnexion'>
    <div class='sectionInscription'>
        <div class="Connexion">Connexion</div>
        <a href="inscription"><div class="Inscription">Inscription</div></a>
    </div>
 
        <form id="formConnexion" action="connexion" method="POST">
         <br><br><br><br><br><br><br>
        <input type='text' name='login' placeholder="Login" class="formInscription">
        <br>
        <input type='password' name='password' placeholder="Mot de Passe" class="formInscription">
        <br>
        <input type='submit' value='Connexion'class="formInscription" >
        </form>
    </div><br><br>
 
 
 
{% endblock %}