{% extends 'base.twig' %}
{% block contenu %}

<div class='accueil_title'>
    <center>
         <h1>Xtreme Détente, l'agence dont vous rêviez</h1>
    </center>
</div>

<div class='main_div'>

    <div class='articles_principal_content_left'>
    <p>Voyages Extrêmes</p>
        {% for value in array1 %}
        <form method='POST' action='article'>
            <div class="article_content_left">
                <div class='article_img'>
                    <img src='views/assets/images/{{ value.id }}.jpeg' class='img_article'>
                    <div class="article_img_hover">
                        <div class="article_img_hover_txt">
                        {{value.pays}}
                        </div>
                    </div>
                </div>

                <div class='article_text_left'>
                    {{value.resume_description}}
                </div>

                <div class='article_prix'>
                    <h5>
                        {{value.prix}} €
                    </h5>
                </div>
                <input type="hidden" name="id" value="{{value.id}}">
                <input type='submit' value='Description complete' class='accueil_btn'>
        </form>
        </div>
        <br>

        {% endfor %}

    </div>


    <div class='articles_principal_content_right'>
    <p>Voyages Détente</p>
        {% for value in array2 %}
        <form method='POST' action='article'>
            <div class="article_content_right">
                <div class='article_img'>
                    <img src='views/assets/images/{{value.id}}.jpeg' class='img_article'>
                    <div class="article_img_hover">
                        <div class="article_img_hover_txt">
                        {{value.pays}}
                     <input type="hidden" name="id" value="{{value.id}}">   </div>
                    </div>
                </div>

                <div class='article_text_right'>
                    {{value.resume_description}}
                </div>

                <div class='article_prix'>
                    <h5>
                        {{value.prix}} €
                    </h5>
                </div>
                <input type="hidden" name="id" value="{{value.id}}">
                <input type='submit' value='Description complete' class='accueil_btn'>

            </div>
        </form>
        <br>

        {% endfor %}
        
    </div>


</div>

{% endblock %}