{% extends 'base.twig' %} 
 
{% block contenu %} 

    <center>
        <h1>Inscription</h1>
    </center>
    
    <div class='contentInscription'>
 
        <div class='sectionInscription'>
            <div class="InscriptionI">Inscription</div>
            <a href="connexion"><div class="ConnexionI">Connexion</div></a>
        </div>
 
        <form id="formConnexion" action="inscription" method="POST">
        <input type="text" name='prenom'  placeholder="Prénom" class="formInscription">
        <br>
        <input type="text" name='nom'  placeholder="Nom" class="formInscription">
        <br>
        <input type='text' name='mail' placeholder="Email" class="formInscription">
        <br>
        <input type='text' name='login' placeholder="Login" class="formInscription">
        <br>
        <input type='password' name='password' placeholder="Mot de passe" class="formInscription">
        <br>
        <input type='submit' value='Inscription' class="formInscription">
        </form>
    
    </div><br><br>
 
 
 
{% endblock %}