    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">Xtreme Détente</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="accueil"><img src="views/assets/logo/home.png" alt="home"  class='img-logo'/>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
                </form>
                <li class="nav-item connexion">
                    <a class="nav-link" href="connexion">Connexion/Inscription
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item inscription">
                    <a class="nav-link" href="panier">
                        <img src="views/assets/logo/basket.png" alt="panier" class='img-logo2'>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>