{% extends 'base.twig' %}
{% block contenu %}
    <center>
        <h1>Récapitulatif</h1>
    </center>
    <div class='content'>
        <center>
            <h2> Vous avez sélectionné : </h2>
        </center>
        <div class='titre'>
            <center>
                <h3>{{article.nom}}</h3>
            </center>
        </div>
        <img src="views/assets/images/{{article.id}}.jpeg" class='image-panier' />
        <div class='text'>
            <center>Ce séjour à été sélectionné à la date du 02 fevrier au 05 fevrier pour 2 personnes</center>
            <center>Montant du voyage : {{article.prix}}€</center>
        </div>
    </div>

    <center>
        <input type='submit' class='valider' value='Confirmer votre commande'>
    </center><br><br><br>
{% endblock %}