{% extends 'base.twig' %}
{% block contenu %}
    <div>
        <center>
        <h1>Envoi de fichier :</h1>
        </center>
        <p>Merci de nous envoyer votre carte d'identité en format PDF.</p>
        {% if success is defined %}
            {% if success %}
            <div>Votre document a bien été envoyé</div>
            {% else %}
            <div>Mauvais format de fichier</div>
            {% endif %}
        {% endif %}
        <form action="upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="id">
            <input type="submit" value="Upload">
        </form>
    </div>
{% endblock %}